@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

// Variables
$layout-bg: linear-gradient(-169.278deg, #70008a 0%, rgb(15, 0, 116) 100%);
$btn-bg: linear-gradient(-135.474deg, #4b005b 0%, #70008a 37%);
$text-color: #ffffff;
$nav-height: 5.5rem;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Exo 2", sans-serif;
}

// Global Styles
section {
  min-height: calc(100dvh - $nav-height);
  max-width: 1600px;
  width: 100%;
}

.btn {
  background: $btn-bg;
  padding: 0.75em 1.5em;
  color: $text-color;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.75rem;
  filter: drop-shadow(2px 2px 3px #33003e);
}

// Layout
html {
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1536px) {
    font-size: 16px;
  }
}

body {
  background: $layout-bg;
  min-height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
  padding: $nav-height 4% 0;

  @media (min-width: 1024px) {
    padding: $nav-height 10% 0;
  }
}

// Navigation
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: $nav-height;
  width: 100%;
  padding: 1.5rem 4%;
  background: rgba(0, 0, 0, 70%);
  backdrop-filter: blur(7px);
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1600px;

    .logo {
      color: $text-color;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .nav-links {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 70%);
      backdrop-filter: blur(7px);
      font-size: 1.25rem;
      font-weight: 500;
      gap: 2rem;
      padding: 1.5rem 4% 3rem;
      transition: transform 0.25s;

      .nav-link {
        width: fit-content;
        color: $text-color;
        font-weight: 500;

        &:hover {
          color: #e7e973;
        }
      }
    }

    .visible {
      transform: translateX(0);
    }

    .hidden {
      transform: translateX(-100%);
    }

    .menu-btn {
      background: transparent;
      height: 25px;
      width: 25px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: $text-color;
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      .nav-links {
        position: relative;
        inset: unset;
        flex-direction: row;
        gap: 5rem;
        font-size: 1rem;
        background: transparent;
        backdrop-filter: none;
        transform: none;
        padding: 0;
      }

      .menu-btn {
        display: none;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 1.5rem 10%;
  }
}

// Home
.home {
  display: grid;
  grid-template-rows: 60% 40%;
  padding: 4rem 0;

  h1 {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    color: $text-color;
    font-size: 2rem;
    font-weight: 600;
    line-height: 127%;
    width: 230px;
    animation: opacityAnimation 2s;
  }

  .play-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-self: center;
    margin-top: 4rem;
    animation: opacityAnimation 4s;

    h2 {
      margin-bottom: 2rem;
      color: $text-color;
      font-size: 1.75rem;
      font-weight: 600;
    }

    .play-now-btn {
      font-size: 1.5rem;

      &:hover {
        scale: 1.1;
        color: #e7e973;
      }
    }
  }

  @media (min-width: 640px) {
    grid-template-rows: 1fr 1fr;

    h1 {
      width: 460px;
      font-size: 2.25rem;
    }

    .play-now {
      h2 {
        font-size: 1.75rem;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 14dvh 0;

    h1 {
      justify-self: flex-start;
      text-align: left;
      width: 700px;
      font-size: 2.75rem;
    }

    .play-now {
      justify-self: flex-start;
      align-items: flex-start;

      h2 {
        font-size: 1.75rem;
      }

      .play-now-btn {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 1536px) {
    h1 {
      width: 900px;
      font-size: 3rem;
    }

    .play-now {
      h2 {
        font-size: 2rem;
      }

      .play-now-btn {
        font-size: 1.75rem;
      }
    }
  }
}

.play {
  position: relative;
  padding: 1rem 0;

  .fruit {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 110px;
    width: 110px;
  }

  .game-board {
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 1.5rem;
    background: radial-gradient(
      circle,
      rgba(145, 143, 123, 0.4) 0%,
      rgba(17, 17, 17, 0.9) 100%
    );
    padding: 6vw;
    filter: drop-shadow(0px 3px 4px rgba(28, 0, 34, 0.75));
    backdrop-filter: blur(15px) opacity(40%);

    .difficulty-levels {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      padding: 3rem 2rem;
      margin: auto 0;
      background: rgba(17, 17, 17, 0.75);
      border-radius: 1rem;

      h2 {
        text-align: center;
        color: $text-color;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: auto 0;

        button {
          width: 13rem;
          font-size: 1.5rem;

          &:hover {
            scale: 1.1;
            color: #e7e973;
          }
        }
      }
    }

    .game-screen {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      max-width: 950px;

      .game-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .time span,
        .attempts {
          color: $text-color;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .time {
          display: flex;
          align-items: center;
          gap: 1rem;
          .clock {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }

      .game-grid {
        display: grid;
        justify-content: center;
        padding: 2rem 0;
        width: 100%;
        gap: 3vw;

        &.easy {
          grid-template-columns: repeat(3, 25%);
        }

        &.medium,
        &.hard {
          display: grid;
          grid-template-columns: repeat(4, 20%);
        }

        .game-card {
          transition: 0.5s ease;

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.75rem;
          padding: 1rem;
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
          cursor: pointer;
          aspect-ratio: 1;

          &.front {
            background: linear-gradient(-152.443deg, #0f0068 0%, #570069 80%);
          }

          &.back {
            background: #e7e973;
          }

          img {
            width: 90%;
            min-width: 30px;
          }
        }
      }

      .game-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          font-size: 1.25rem;
        }
      }
    }
  }

  @media (min-width: 640px) {
    .game-board {
      padding: 2.5rem;
      .game-screen {
        .game-grid {
          display: grid;

          &.easy {
            grid-template-columns: repeat(3, 18%);
          }

          &.medium,
          &.hard {
            grid-template-columns: repeat(4, 15%);
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 2rem 0;

    .game-board {
      .difficulty-levels {
        h2 {
          font-size: 2rem;
        }
      }

      .game-screen {
        .game-grid {
          gap: 2vw;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .game-board {
      .difficulty-levels {
        padding: 5rem 3rem;

        h2 {
          margin-bottom: 3rem;
        }
      }

      .game-screen {
        width: 75%;

        .game-grid {
          gap: 1.25rem;

          &.easy {
            grid-template-columns: repeat(4, 18%);
          }

          &.medium {
            grid-template-columns: repeat(4, 14%);
          }

          &.hard {
            grid-template-columns: repeat(5, 14%);
          }
        }
      }
    }
  }

  @media (min-width: 1536px) {
    .game-board {
      padding: 3rem;
      max-height: 900px;
      .game-screen {
        .game-grid {
          &.easy {
            grid-template-columns: repeat(4, 17%);
          }

          &.medium {
            grid-template-columns: repeat(4, 12.5%);
          }

          &.hard {
            grid-template-columns: repeat(5, 12.5%);
          }
        }
      }
    }
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
